<img {% if include.caption %}class="has-caption"{% endif %} src="{{ site.baseurl }}{{ site.imagePath }}/{{ include.filename }}.jpg" alt="{{ include.description }}">
{%- if include.caption -%}
  <small>{% if include.source %}<a href="{{ include.source }}">{% endif %}{{ include.caption }}{% if include.source %}</a>{% endif %}</small>
{%- endif -%}